@charset "utf-8";

@import url("reset.css");

/* */

.container {width:1180px;margin:0 auto}

/* 타이틀 */

.i_info {position:relative;padding:42px 0 42px 50px;background-color:#0d83a8;font-size:22px;color:#fff;letter-spacing:-1px}
.i_info .btnS {position:absolute;top:50%;right:20px;width:228px;height:50px;margin-top:-25px;padding:10px 0 0 25px;background:url(../img/conf_btn.png) no-repeat 0 0;font-size:18px;font-weight:normal;color:#fff;text-align:left}


/* 라이브 영역 */

.con_wrap {margin:20px 0 0;padding:55px 0}

.live_both {padding:38px 45px 72px;background-color:#646a76}
.live_both:after {display:block;clear:both;content:''}

.live_both .thumb_area {float:left;width:640px}
.live_both .thumb_area p.txt {margin:20px 0 40px;font-size:16px;color:#fff;letter-spacing:-1.0px}

.live_both .info_area {float:right;width:405px;margin:77px 0 0 45px}
.live_both .info_area p.hold {margin:0 0 40px;padding:18px 0;border:1px solid #58859a;font-size:18px;color:#3bc2ed;text-align:center}
.live_both .info_area p.hold img {position:relative;top:2px;right:10px}

/* */

.info_area ul {}
.info_area ul:after {display:block;clear:both;content:''}
.info_area ul li {float:left;width:31.7%;margin:0 1.6% 0 0;text-align:center;color:#fff}

.info_area ul li:nth-child(2) {width:31.7%;;margin:0 0.8% 0 0.8%}
.info_area ul li:nth-child(3) {width:31.7%;;margin:0 0 0 1.6%}

.info_area ul li div {width:100%;margin:0;padding:42px 0 67px;background-color:#4e5460}
.info_area ul li span {display:block;font-size:15px}
.info_area ul li strong {display:block;margin:30px 0 0;font-size:58px}

.info_area p.delivery {margin:30px 0 0;font-size:20px;text-align:center;color:#fff;letter-spacing:-1px}

/* */

.info_area .info_txt {height:210px;margin:0 0 42px;padding:30px;background-color:#5c626e;font-size:14px;color:#fff;text-align:justify;line-height:26px}

.info_area .info_btn a {display:block;width:213px;height:50px;margin:0 auto;padding:0 0 0 35px;background:url(../img/conf_qa.png) no-repeat 0 0;line-height:46px;font-size:18px;color:#fff}
.info_area .info_btn a:hover {text-decoration:none}


/* 생방송 편성표 */

.history_wrap {padding:58px 38px;background-color:#ccd1dc}
.history_wrap .h_stit {width:198px;height:50px;padding:0 !important;background:url(../img/h_stit.png) no-repeat 0 0;font-size:20px;color:#fff;text-align:center;line-height:46px}

/* */

.history {overflow:hidden;margin:30px 0 0}
.history > ul {position:relative;width:100%;padding-left:30px;box-sizing:border-box}
.history > ul:before {content:'';display:inline-block;position:absolute;top:6px;left:50px;width:1px;height:100%;margin:0 auto 0 -20px;border-left:1px solid #0d83a8}
.history > ul > li {position:relative;padding-left:25px;box-sizing:border-box}
.history > ul > li:after {display:block;clear:both;content:''}

.history > ul > li {position:relative;margin-top:20px;font-size:14px;color:#969696;line-height:22px}
.history > ul > li + li {margin-top:44px}

.history > ul > li div.time {position:relative;float:left;width:12%;font-size:18px;font-weight:400;color:#0d83a8;box-sizing:border-box}
.history > ul > li div.time.onAir:after {content:"On Air";display:inline-block;margin:10px auto 0;padding:4px 10px;background:#e63131;font-size:13px;color:#fff;border-radius:20px}
.history > ul > li div.time:before {display:inline-block;position:absolute;top:6px;left:-32px;width:15px;height:15px;margin:0;background:url(../img/ico_coin.png) no-repeat 0 0;content:''}
.history > ul > li:last-child:before {display:inline-block;position:absolute;top:10px;left:0;width:20px;height:100%;background:#ccd1dc;content:''}

.history > ul > li.on div.time:before {top:0px;left:-38px;width:25px;height:25px;background:url(../img/ico_coin_on.png) no-repeat 0 0}

.history > ul > li div.time em {position:absolute;top:34px;left:14px}

.history > ul > li div {float:left;width:87%;box-sizing:border-box}
.history > ul > li div strong {display:inline-block;margin:0 0 5px;font-size:18px;color:#5d626c}
.history > ul > li div span {font-size:12px;color:#5d626c}
.history > ul > li div p {margin:10px 0 0;font-size:14px;color:#7e828c;letter-spacing:-0.5px}

.history > ul > li div ul {margin:20px 0 0}
.history > ul > li div ul:after {display:block;clear:both;content:''}
.history > ul > li div ul li {float:left;width:25%;text-align:center}
.history > ul > li div ul.subject li {font-size:16px}

.history > ul > li div ul li div {width:97%;max-height:60px;padding:7px 0 40px;border:1px solid #ccc;color:#fff}
.history > ul > li div ul li + li div {padding:17px 0 40px}

.history > ul > li div ul li div {border-color:#d27474;background-color:#d27474}
.history > ul > li div ul li:nth-child(2) div {border-color:#5eb279;background-color:#5eb279}
.history > ul > li div ul li:nth-child(3) div {border-color:#5e8db2;background-color:#5e8db2}
.history > ul > li div ul li:nth-child(4) div {border-color:#997db6;background-color:#997db6}

.history > ul > li.l_clock div ul {margin:-34px 0 0}
.history > ul > li.l_clock div ul li {text-align:left}

.history > ul > li.l_clock div ul li div {height:120px;max-height:140px;padding:12px 15px 40px 15px;border:1px solid #a5adbe;background-color:transparent;color:#333}
.history .data_dw {display:block;width:90px;margin:3px auto 0;padding:4px;background:#7a7f89;font-size:12px;color:#fff;text-align:center;letter-spacing:-0.5px;border-radius:20px}

/* 컨퍼런스 */

.conf_2018 .info_area .info_tit {width:90%;margin:0 5%}
.conf_2018 .info_area .info_tit a {width:100% !important;padding:0 0 0 12px !important;text-align:left;box-sizing:border-box}

.conf_2018 .info_area div.info_comm {overflow-y:scroll;height:306px;margin:0 0 2%;border:0px solid #ddd;background-color:#fff;font-size:36px}
.conf_2018 .info_area div.info_comm ul {margin:10px 25px 15px;box-sizing:border-box}
.conf_2018 .info_area div.info_comm ul li {float:none;width:100%;padding:0 0 10px;border-top:1px dotted #ccc;color:#333;text-align:left;box-sizing:border-box}
.conf_2018 .info_area div.info_comm ul li:first-child {border-top:0}

.conf_2018 .info_area div.info_comm ul li ul {margin:10px 0 0}
.conf_2018 .info_area div.info_comm ul li ul li {position:relative;padding:0 0 10px 26px}
.conf_2018 .info_area div.info_comm ul li ul li .cb_bu_subnode{overflow:hidden;position:absolute;top:6px;left:6px;color:#9e9e9e;font-size:14px}
.conf_2018 .info_area div.info_comm ul li ul li:first-child {border-top:1px dotted #ccc}
.conf_2018 .info_area div.info_comm ul li ul li:last-child {padding:0 0 0 26px}

.conf_2018 .info_area div.info_comm ul li.cb_txt {padding:15px 0;font-size:12px}

.conf_2018 .info_area div.info_comm ul li strong {display:inline;font-size:14px}
.conf_2018 .info_area div.info_comm ul li span {display:inline;font-size:14px}
.conf_2018 .info_area div.info_comm ul li span i {display:inline-block;width:16px;height:16px;margin:0 1px;border:1px solid #666;background-color:#666;font-size:10px;font-style:normal;color:#fff;text-align:center;border-radius:16px}
.conf_2018 .info_area div.info_comm ul li p {padding:5px 0 0;font-size:12px}


/* 이벤트 */

.dt_wrap {margin:70px 0}
.dt_eve {position:relative;width:1180px;height:1420px;background:url(../img/event.png) no-repeat 0 0}
.dt_app {display:inline-block;position:absolute;top:25%;right:16%}

.dt_que {position:absolute;left:50%;bottom:25%;width:832px;height:328px;margin-left:-416px;background:url(../img/question.png) no-repeat 0 0}
.dt_que p.dt_problem {margin:13% 0 0;font-size:20px;color:#1a3253;text-align:center;line-height:24px}

.dt_result {display:none;position:absolute;left:50%;bottom:25%;width:832px;height:328px;margin-left:-416px;background:url(../img/result.png) no-repeat 0 0}
.dt_result p.dt_problem {margin:20% 0 4%;font-size:22px;color:#1a3253;text-align:center;line-height:24px}

.dt_wrap div.dt_btn {margin:2% 0 0;text-align:center}
.dt_wrap div.dt_btn span {display:inline-block;margin:0 10px}

/* 결과 */

.dt_eve2 {position:relative;width:1180px;height:2200px;background:url(../img/event_result.png) no-repeat 0 0}
.dt_eve2 .dt_app {top:16.15%;right:16%}

.dt_eve2 .dt_que {position:absolute;left:50%;bottom:52%;width:832px;height:328px;margin-left:-416px;background:url(../img/question_blue.png) no-repeat 0 0}
.dt_eve2 .dt_que p.dt_problem {margin:18% 0 0;font-size:18px;color:#fff;text-align:center;line-height:30px}

/* */

.dt_lecture {position:absolute;left:50%;bottom:22%;width:1020px;margin-left:-510px}
.dt_lecture ul:after {display:block;clear:both;content:''}
.dt_lecture ul li {float:left;width:25%}

.dt_lecture ul li div {width:240px;height:365px;background:url(../img/lecture_bg.png) no-repeat 0 0}

.dt_lecture ul li:nth-child(1) {width:25.5%}
.dt_lecture ul li:nth-child(2) {width:25.5%}
.dt_lecture ul li:nth-child(3) {width:25.5%}
.dt_lecture ul li:nth-child(4) {width:23.35%}

.dt_lecture .btn_detail {}

.dt_lecture .layer_session {display:none;position:fixed;top:50%;left:50%;z-index:125;width:460px;max-width:460px;height:364px;margin:-172px 0 0 -230px;background-color:#fff}
.dt_lecture .layer_session > .tit {height:60px;padding-left:25px;background-color:#d3dfe2;font-size:20px;font-weight:700;color:#364549;line-height:60px}
.dt_lecture .layer_session .layer_session_content {padding:30px 40px}
.dt_lecture .layer_session .layer_session_inner {}
.dt_lecture .layer_session .layer_session_inner p {font-size:16px;text-align:center;line-height:24px}
.dt_lecture .layer_session .layer_session_inner div.item {margin:20px 0 0}
.dt_lecture .layer_session .layer_session_btn {overflow-y:hidden;overflow-x:auto;padding-top:20px;text-align:center}
.dt_lecture .layer_session .btnVote {width:100%;background-color:#566265;color:#fff;letter-spacing:-1px;box-sizing:border-box}

.dt_lecture .layer_session .btn_request_close {background:url(../img/vote_close.png) no-repeat 50% 50%}
.dt_lecture .layer_session .backface {display:none;position:fixed;top:0;left:0;bottom:0;right:0;z-index:20;background:#000;opacity:0.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter:alpha(opacity=30)}

/* */

.dt_att {position:absolute;left:50%;bottom:3.5%;width:1020px;height:358px;margin-left:-510px;background:url(../img/attention.png) no-repeat 0 0}
.dt_att p:first-child {margin:120px 0 0 120px}
.dt_att p {margin:2px 0 0 120px}
.dt_att p .i_category {display:inline-block;position:relative;top:-10px;right:40px;width:100px;height:35px;border:1px solid #d8d8d8;font-size:14px;text-align:center;line-height:35px}

.i_graph {position:relative;line-height:normal;white-space:nowrap}
.i_graph em {position:absolute;top:-14px;left:20px;z-index:10;font-size:15px;color:#fff}
.i_graph .g_bar {display:inline-block;position:relative;width:652px;height:37px;margin:0 5px 0 0;background:#efefef}
.i_graph .g_action {display:inline-block;position:relative;height:37px;margin:-1px;background:#f05e2a}
.i_graph .g_percent {display:inline-block;position:relative;top:-10px;height:35px;font-size:15px;font-weight:700;color:#f05e2a;line-height:35px}

.dt_att p + p .g_action {background:#eba308}
.dt_att p + p .g_percent {color:#eba308}

.dt_att p + p + p .g_action {background:#7db622}
.dt_att p + p + p .g_percent {color:#7db622}

.dt_att p + p + p + p .g_action {background:#3badb4}
.dt_att p + p + p + p .g_percent {color:#3badb4}